<h1>Recipe Search</h1>
<%= form_tag(hits_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
<%= submit_tag "Search" %>
<% end %>
